# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# patterns
patterns/
aes_patterns/
sha3_patterns/
hmac_patterns/
pbkdf2_patterns/
top_patterns/
*patterns/

# synthesis file
.synopsys_dc.setup
fsa0m*
*.sdf

# others
progress.txt
test.py